
@font-face {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    src: local('Satisfy Regular'), local('Satisfy-Regular'), url(Satisfy-Regular.ttf) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.indexBody{
    padding:2%;
}
.card{
    width:90%;
    height:100%;
    margin:auto;
    box-shadow:5px 10px 50px #888888;
}

.scribbler{
    font-family: 'Satisfy', cursive;
}

.logo{
    margin:10px;
    height:15px;
    width:250px;
}

.loginform{
    width:40%;
    height:100%;
    margin-right:5%;
    margin-left:auto;
    margin-bottom: auto;
}

.loginform h6{
    text-align:left;
}

.remb{
    display:inline;
    float:left;
}



.forgot{
    display:inline;
    float:right;
    color:black;
}

.sideimg{
    position:absolute;
    height:50%;
    width:50%;
    top:25%;
}

.indexImage{
    background-image: url(../img/sideimg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

